.add-recipe-btn {
  width: 100%;
  text-align: center;

  outline: 1px solid yellow;
}

a.cta-btn {
  display: inline-block;
  margin: 0px 10px;
  padding: 5px 20px;
  color: white;
  text-decoration: none;
  background-color: black;
}

a.cta-btn:hover {
  background-color: grey;
}