.App {
  width: 95%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;

  outline: 1px solid red;
}

.cookbook {
  display: flex;
}

.sidebar {
  width: 20%;

  outline: 1px solid green;
}

.recipe-list {
  position: relative;
  width: 80%;
  
  display: flex;
  flex-wrap: wrap;

  outline: 1px solid teal;
}

.mobile-nav {
  width: 100%;
}

.mobile-nav > .folder-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  outline: 1px solid yellow;
}

.mobile-nav > .folder-list > .folder-item {
  width: 100px;
  margin: 15px;
  line-height: 3;
}

@media screen and (min-width: 887px) {
  .mobile-nav {
    display: none;
  }
}

@media screen and (max-width: 887px) {
  .browser-nav {
    display: none;
  }

  .cookbook {
    flex-direction: column;
  }

  .recipe-list {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .recipe-list {
    width: 100%;
  }
}