.recipe-card {
  width: 300px;
  margin: 15px;
  padding: 30px;

  background-color: #fafafa;
  border-radius: 10px;
}

.recipe-card:hover {
  box-shadow: 1px 1px 7px rgba(0,0,0,0.1);
}

.recipe-card a {
  color: #6ab9d9;
  text-decoration: none;
  transition: all 0.5s ease;
}

.recipe-card a:hover, .recipe-card a:focus {
  color: #b6e1f2;
}

@media screen and (max-width: 887px) {
  .recipe-card {
    margin: 15 auto;
    width: 90%;
    flex-basis: 100%;
  }
}