.add-recipe-form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.add-recipe-form label {
    display: block;
    font-size: 1.3rem;
}

.add-recipe-form div {
    margin-bottom: 40px;
}

.ingredient-input {
    display: inline;
    width: 300px;
}

.quantity {
    width: 100px;
}

.unit {
    width: 100px;
}

.item {
    width: 300px;
}

.folder-dropdown {
	width: 100%;
	padding: 5px;
	font-size: 0.9rem;
}

.error-box {
    color: red;
}

.form-posted {
    color: green;
}