.add-recipe-form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.add-recipe-form label {
    display: block;
}

.add-recipe-form div {
    margin-bottom: 15px;
}

.add-recipe-form input {
    max-width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

.add-recipe-form textarea {
    font-family: sans-serif;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

.ingredient-input {
    display: inline;
}

.quantity {
    width: 50px;
}

.folder-dropdown {
	width: 100%;
	padding: 5px;
	font-size: 0.9rem;
}