.recipe-list {
  position: relative;
  width: 80%;
  
  display: flex;
  flex-wrap: wrap;

  outline: 1px solid teal;
}

a.add-recipe-btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 15px;
  background-color: black;
  color: white;
  text-decoration: none;
}

a:hover.add-recipe-btn {
  background-color: grey;
}