.App {
  width: 95%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

.cookbook {
  display: flex;
}

.sidebar {
  width: 20%;
}

.recipe-list {
  background-color: #faf6f4;
  position: relative;
  width: 80%;
  padding: 20px;
  
  display: flex;
  flex-wrap: wrap;
}

.mobile-nav {
  width: 100%;
}

@media screen and (max-width: 887px) {
  .sidebar {
    width: 100%;
  }

  .add-folder button {
    display: inline;
    float: none;
  } 

  .folder-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .sidebar h2 {
    text-align: left;
    padding-left: 20px;
  }
  
  .folder-list > .folder-item {
    width: 150px;
    margin: 5px;
    line-height: 3;
    padding: 0px 10px;
    border-radius: 10px;
  }

  .cookbook {
    flex-direction: column;
  }

  .recipe-list {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .recipe-list {
    width: 100%;
  }
}

li {
  padding-left: 20px;
}