* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: rgb(106,185,217);
  background: linear-gradient(326deg, rgba(106,185,217,1) 0%, rgba(182,225,242,1) 20%, rgba(242,192,162,1) 48%, rgba(242,159,5,1) 77%, rgba(191,91,4,1) 100%);
  background-size: cover;
  background-attachment: fixed;
  
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
